<%= form_for(@admin_foo) do |f| %>
  <% if @admin_foo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_foo.errors.count, "error") %> prohibited this admin_foo from being saved:</h2>

      <ul>
      <% @admin_foo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bar %><br>
    <%= f.text_field :bar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
