<h1>Listing admin_foos</h1>

<table>
  <thead>
    <tr>
      <th>Bar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_foos.each do |admin_foo| %>
      <tr>
        <td><%= admin_foo.bar %></td>
        <td><%= link_to 'Show', admin_foo %></td>
        <td><%= link_to 'Edit', edit_admin_foo_path(admin_foo) %></td>
        <td><%= link_to 'Destroy', admin_foo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin foo', new_admin_foo_path %>
